@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');

:root {
    --verde: #2F7611;
    --amarelo: #ffc670;
    --amareloF: #ffe1b3;
    --vermelho: #CA362B;
    --branco: #ffffff;
    --pb: 10px;
}

* {
    font-family: "Headland One", serif;
    margin: 0;
    padding: 0;
}

header {
    padding: var(--pb) 0;
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}

.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.banner img {
    width: 75%;
}

.apresentacao {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.apresentacao article {
    width: 75%;
    padding: 15px 0;
    background-color: var(--amarelo);
    border: 1px solid var(--amareloF);
}

h1 {
    color: var(--verde);
    -webkit-text-stroke: 0.0001px var(--branco);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.apresentacao .text-apre {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    padding: 0 10px;
}

.container-produto {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.container-produto h1{
    margin-bottom: 10px;
}

.container-produto article {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto {
    margin-bottom: 10px;
    width: 30%;
    background-color: var(--amarelo);
    border: var(--amareloF) 1px solid;
    text-align: center;                                     
}

.produto img {
    width: 100%;
}

.produto .descricao {
    text-align: center;
    margin-bottom: 5px;
}

.produto h5 {
    color: var(--verde);
    margin-bottom: 5px;
}

.produto input {
    margin-bottom: 3px;
}

.carrinho {
    display: flex;
    justify-content: center;
}

.carrinho article {
    padding: 10px 5px;
    width: 75%;
    text-align: center;
    background-color: var(--amarelo);
}

.carrinho button {
    border-radius: 10px;
    padding: 10px 12px;
    background-color: var(--verde);
    color: var(--amarelo);
    font-weight: bold;
    border: 3px solid var(--verde);
    font-size: 20px;
}

.carrinho button:hover {
    background-color: var(--amarelo);
    color: var(--verde);
    transition: 1s;
    text-shadow: 0 0 3px gray;
}