:root {
    --Princ: rgb(17, 17, 77);
    --Segund: rgb(52, 52, 94);
}

.tabela {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: var(--Princ);
    color: whitesmoke;
  }
  
  thead{
    background-color: var(--Segund);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }

  tbody {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  tbody > tr:nth-of-type(even) {
    background-color: var(--Segund);
  }