@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fundo: linear-gradient(to top right, rgb(70, 139, 172), rgb(107, 208, 255));
    --padding: 15px;
    --borda: solid 1px var(--fundo);
    --ridder: 10px;
    --fonte: 
}

body {
    font-family: "Bitter";
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 10px;
    background: var(--fundo);
    padding: var(--padding);
    border: var(--borda);
    border-radius: var(--ridder);
    box-shadow: 0px 0px 10px rgb(133, 133, 133);
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px 2px;
}

input:active {
    border: 1 solid white;
}

label {
    margin-right: 5px;
}

button {
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: var(--ridder);
}

button:hover {
    transition: 1s;
    background-color: rgb(201, 201, 201);
}