@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --corPrinc: rgb(17, 17, 77);
    --transp: rgba(255, 255, 255, 0.50);
}

* {
    font-family: "Montserrat";
}

body {
    background-color: var(--corPrinc);
    display: flex;
    justify-content: center;
}

.container {
    background-color: var(--transp);
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px gray;
    text-align: justify;
}