* {
    font-family: "Playwrite DE Grund", cursive;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: linear-gradient(to top right, var(--roxo), var(--roxo-claro));
    padding: var(--pb);
    border-radius: var(--pb);
    border: var(--b);
    box-shadow: var(--s);
    text-shadow: var(--s);
}

h3 {
    color: var(--h3);
}

nav {
    display: flex;
}

.group {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    padding: 2px;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: var(--pb);
}

input {
    border-radius: var(--pb);
    border: var(--b);
    margin-bottom: 5px;
    padding-left: var(--pb);
}

button {
    margin: var(--pb) 0;
    background-color: var(--roxo);
    border: var(--b);
    border-radius: var(--pb);
    color: white;
    padding: 5px;
}

button:hover {
    transition: 500ms;
    background-color: var(--roxo-claro);
}

article {
    justify-content: center;
    display: flex;
}