@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+DE+Grund:wght@100..400&display=swap');

:root {
    --roxo: #9B5278;
    --roxo-claro: #e97fb6;
    --pb: 10px;
    --s: 0 0 8px rgb(94, 94, 94);
    --b: 1px solid #ff8ac7;
    --h3: rgb(94, 94, 94);
}